@using MTN.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MTN.Models.Sanpham>
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "DienThoai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<h2>THÔNG TIN SẢN PHẨM </h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Giá Tiền
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Mô Tả
        </th>
        <th>
            Sim
        </th>
        <th>
            Bộ Nhớ Trong
        </th>
        <th>
            Sản Phẩm Mới
        </th>
        <th>
           Ram 
        </th>
        <th>
            Ảnh Bìa
        </th>
        <th>
            Mã Hãng
        </th>
        <th>
            Mã Hệ Điều Hành
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giatien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thesim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonhotrong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanphammoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                <img src="@Url.Content("~/HinhAnhMTN/"+  item.Anhbia)" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mahdh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Masp }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Masp }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Masp })
            </td>
        </tr>
    }

</table>
@* Tao liên kết các trang  *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("DienThoai", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
