@model IEnumerable<MTN.Models.Hangsanxuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>HÃNG SẢN XUẤT</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create","Hangsx")
</p>
<table class="table">
    <tr>
        <th>
            Tên Hãng :
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhang)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Mahang }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Mahang }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Mahang })
        </td>
    </tr>
}

</table>
