
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="row">
    <br />
    <div class="img-responsive">
        <img class="img-responsive; text-center" src="~/HinhAnhMTN/ban1.png" />
    </div>
    <div class="img-responsive ">
        <img class="img-responsive img-responsive; text-center" src="~/HinhAnhMTN/banner6.png" />
    </div>
    <div class="img-responsive">
        <img class="img-responsive img-responsive; text-center" src="~/HinhAnhMTN/ban3.jpg" />

    </div>

</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3 style="Text-align: Center; color: white; font-style: inherit ; background-color : black;"> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/iphone-12-violet-1-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/oppo-a74-blue-9-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/realme-c25s-grey-7-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/vivo-y53s-xanh-600x600.jpg" class="img-responsive" alt="" />
        </div>

    </div>
</div>
<div class="swiper-wrapper">

    <h3 style="Text-align: Center; color: white; font-style: inherit ; background-color : black;">HÃNG ĐIỆN THOẠI</h3>
    <div class="col-md-2">

        <img src="~/HinhAnhMTN/vivo.jpg" class="img-responsive" alt="" />

    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/iphone.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/realme.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/xiaomi.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/oppo.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/masstel.jpg" class="img-responsive" alt="" />
    </div>

</div>


<div class="danhmuc">
    <h3>ĐIỆN THOẠI MỚI</h3>
</div>
<div class="dt">

    @Html.Action("dtiphonePartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dtsamsungpartial", "Sanpham")
</div>

<div class="dt">

    @Html.Action("dtxiaomipartial", "Sanpham")
</div>
<div class="dt">

    @Html.Action("Anker", "Sanpham")
</div>

<div class="dt">

    @Html.Action("JBL", "Sanpham")
</div>

<div class="dt">

    @Html.Action("Sony", "Sanpham")
</div>
<div class="row">
    <h2> Tin tức sản phẩm</h2>
    <div class="col-md-8">
        Video
    </div>
    <div class="col-md-4">
        Tin tức
    </div>
</div>



