@using MTN.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<br />
<br />
<h2 class=""> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model)
    {
<tr class="font-italic">
    <td> @item.iMasp</td>

    <td> @item.sTensp</td>

    <td><img src="~/HinhAnhMTN/@item.sAnhBia" width="100" height="100" /></td>

    <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>

    <td> @item.iSoLuong</td>

    <td>   @String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
    <td> @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMasp })</td>
    <td> @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")</td>

</tr>

    }


    <tr style="font-weight: bold; text-align:right; color:red">
        <td colspan="4"> Số lượng sách: @ViewBag.Tongsoluong </td>
        <td colspan="5"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right ">
        <td colspan="9">
            @Html.ActionLink("XÓA GIỎ HÀNG", "XoaTatcaGiohang")
        </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right ">
        <td colspan="9" align="center">
            @Html.ActionLink("ĐẶT HÀNG", "Dathang", "GioHang")
        </td>
    </tr>
</table>

@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>