@model MTN.Models.Donhang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XOÁ ĐƠN HÀNG</h2>

<h3>Bạn thật sự muốn xóa mã này không ?</h3>
<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datthanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datthanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaygiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNguoidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNguoidung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
