
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="row">
    <br />
    <div class="img-responsive">
        <img class="img-responsive; text-center" src="~/HinhAnhMTN/ban1.png" />
    </div>
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="~/HinhAnhMTN/banner4.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/HinhAnhMTN/banner5.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/HinhAnhMTN/banner3.png" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/HinhAnhMTN/banner2.png" alt="">
                </div>


            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>

    </div>
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3 style="Text-align: Center; color: white; font-style: inherit; background-color: #d41d50;"> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/iphone-12-violet-1-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/oppo-a74-blue-9-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/realme-c25s-grey-7-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
            <img src="~/HinhAnhMTN/vivo-y53s-xanh-600x600.jpg" class="img-responsive" alt="" />
        </div>

    </div>
</div>
<div class="swiper-wrapper">

    <h3 style="Text-align: Center; color: white; font-style: inherit; background-color: #d41d50;">HÃNG ĐIỆN THOẠI</h3>
    <div class="col-md-2">

        <img src="~/HinhAnhMTN/vivo.jpg" class="img-responsive" alt="" />

    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/iphone.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/realme.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/xiaomi.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/oppo.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-2">
        <img src="~/HinhAnhMTN/masstel.jpg" class="img-responsive" alt="" />
    </div>

</div>

<br />
<br />
<div class="danhmuc">
    <br />
    <h3 style="Text-align: Center;"> HÀNG BÁN NHIỀU NHẤT </h3>
</div>
<div class="style:padding-left:50px">

    @Html.Action("smarphone", "Sanpham")
</div>
<div class="style:padding-left:50px">

    @Html.Action("dtiphonePartial", "Sanpham")
</div>
<div class="style:padding-left:50px">

    @Html.Action("dtsamsungpartial", "Sanpham")
</div>

<div class="style:padding-left:50px">

    @Html.Action("dtxiaomipartial", "Sanpham")
</div>

<div class="style:padding-left:50px">

    @Html.Action("HP", "Sanpham")
</div>

<div class="style:padding-left:50px">
    @Html.Action("Acer", "Sanpham")
</div>
<div class="dt" style=" padding-left: 20px;">

    @Html.Action("Lenovo", "Sanpham")
</div>

<div class="row">
    <h2> Tin tức sản phẩm</h2>
    <div class="col-md-8">
        <h3> Video</h3>
        <video width="500" height="500" controls>
            <source src="~/VideoMTN/iPHONE 12 REVIEW_ CHIẾC iPHONE ĐÁNG MUA NHẤT NĂM NAY!__.mp4" />
        </video>
    </div>
    <div class="col-md-4">
        <h3> Tin tức </h3>
    </div>
</div>



